:root {
    /******Text-color*********/
--title-text-color: #212121;
--white-color: #FFFFFF;
--paragraf-color: #757575;
--primary-accent-color:#2196F3;
--second-background-color: #2F303A;
--other-backround-color:#F5F4FA;
--primary-background-color: #F5F5F5;
--text-color: #000000;
--overlov-bg-color: rgba(33, 150, 243, 0.9);
--overlov-tech-bg-color:rgba(47, 48, 58, 0.8);


/**********Others**********/
--indent:30px;
--items:4;
--socials-svg-color:#AFB1B8;
--socials-svg-bg-color: rgba(255, 255, 255, 0.1);
--modal-idx:100;
--anim-fast: 500ms ease;
--card-set-item: calc((100%-var(--indent)*(var(items)-1))/var(--items));
} 

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:var(--title-text-color);
    font-size:14px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}


/*------------Resets------------*/
h1,h2,h3,h4,h5,h6,p {
    margin:0;
}


ul {
    list-style: none;
    margin:0;
    padding:0;
}
img{
    display: block;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
 }

.container {
    width: 1200px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right:auto;
}


/* ---------Header-----------*/
.logo {
    margin-right: 93px;
    font-family: Raleway;
    color: var(--primary-accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-header {
    color: var(--text-color);
}
.logo-link {
    margin-right: 93px;
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.auth-nav-icon{
    margin-right: 10px;
}

.auth-nav-icon:hover,
.auth-nav-icon:focus{
    fill:var(--primary-accent-color)
}


.auth-nav {
    display: flex;
    margin-left: auto;
    gap: 50px;
  align-items: baseline;
}
.site-nav {
    display:flex;
    align-items: center;
    gap:50px;
}


.site-nav .link {
    display:block;
    padding-top: 32px;
    padding-bottom:32px ;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    position: relative;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   
}
.site-nav .link:hover ,
.site-nav .link:focus{
    color: var(--primary-accent-color);
}
.site-nav .current {
    color: var(--primary-accent-color)
}
.current-nav::after{
    content:'';
    position:absolute;
    left:50%;
    bottom:0%;
    transform: translateX(-50%) scaleX(0.3);
    display: block;
    width: 100%;
    height: 4px;
    border-radius:2px;
    opacity:0;
    background-color: var(--primary-accent-color);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     opacity:1;
    transform: translateX(-50%) scale(1);
}
.current-nav .current{
      opacity:1;
      transform: translateX(-50%) scale(1);
}

.link {
    text-decoration: none ;
}

 .auth-mail {
    color: var(--paragraf-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   display: flex;
   align-items: baseline;
   align-items: center;
   display: flex;
   align-items: center;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-tel {
    color: var(--paragraf-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .auth-mail:hover,
.auth-nav .auth-mail:focus {
    color: #2196F3;
}
.auth-nav .auth-tel:hover,
.auth-nav .auth-tel:focus{
    color: #2196F3;
}
.auth-nav-icon{
    fill: currentColor;
}

/*----------Hero--------------*/
.hero {
    background-color: var(--second-background-color);
    padding: 200px 0;
    height:600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right:auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47,48,58,0.4)),
    url('../images/backgroung-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    color: var(--white-color)
}
.button {
    display: block;
    margin:auto;
    padding: 10px 32px;
    min-width: 152px ;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--primary-accent-color);
    border: none;
    cursor:pointer;
    border-radius: 4px;
    transition-property: outline, backround-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus{
    background-color:var(--overlov-tech-bg-color);
    outline: 1px solid var(--primary-accent-color)
}

/********Technology section********/
.tech-overlay{
    position: absolute;
    bottom:0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--overlov-tech-bg-color);
    width:100%;
    text-transform: uppercase;
}
.technology{
    position: relative;
}
.tech-overlay-text{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-align: center;
}

.features-container {
   display: flex;
   align-items: center;
   gap: var(--indent);
   align-items:flex-start;
}
.features {
    padding-bottom:0;
}

.features-title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--title-text-color) ;
}
.features-heading {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
.features-paragraf {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--paragraf-color);
    width: 270px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-position: center;
    background-color: var(--primary-background-color);
    margin-bottom:30px;

}


.section-title {
    margin-bottom: 50px;
   font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.technology-style {
    display: flex;
    align-items: center;
    gap: var(--indent);
}

.team {
    background-color: var(--other-backround-color);
}

.team .team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
 }
 .team .team-paragraf {
     font-size: 16px;
     margin-bottom:16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--paragraf-color)
 }
 
.team-wrapper {
    padding: 30px 0;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--socials-svg-color);
  background-color: #fff;
  transition-property: backround-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:focus,
.social-links:hover
{
    background-color: var(--primary-accent-color);
    fill: var(--white-color);
}
/***************Logo****************/
.logo-title{
    text-align: center;
    margin-bottom:50px;
    font-weight: 700;
    font-size: 36px;
}
.logo-icon{
    display: flex;
    gap:30px;
    
}

.icons-link{
    display:flex;
    width: 170px;
     border-radius: 4px;
    height: 92px;
    align-items: center;
    justify-content:center;
    fill: var(--socials-svg-color);
    outline: 1px solid var(--socials-svg-color);
    transition-property: border, fill;
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.icons-link:hover,
.icons-link:focus{
    border: 1px solid #2196F3;
    fill: var(--primary-accent-color);
}



 /*-------------Footer-------------*/
 .footer {
   background-color: var(--title-text-color);
   padding-top: 60px;
   padding-bottom:60px;
}

.logo-footer {
    margin-right: 0;
}

 .logo .logo-studio {
    color: var(--white-color);
 }

.footer-logo {
    margin-bottom: 20px;
}

.footer-address:not(:last-child){
    margin-bottom: 9px;
}

.socials-title{
    color: var(--white-color);
     font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.social-container{
    display: flex;
    align-items: baseline;
    gap:93px;
}  

.social-link{
   display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:44px ;
    height:44px;
    background-color: var(--socials-svg-bg-color);
    fill: var(--white-color);
    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color: var(--primary-accent-color);
}
.fotter-form-title{
    color:#EEEEEE
}


 .address .address-name {
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style:normal;
    color: var(--white-color);
    margin-bottom: 9px;
 }
 .address .address-mail {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property:color;
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .address .address-tel {
     font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property:color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.address .address-mail:hover,
.address .address-mail:focus{
    color: var(--primary-accent-color);
}
.address .address-tel:hover,
.address .address-tel:focus{
    color: var(--primary-accent-color);
}

.footer-section{
    display: block;
    margin-right: 70px;
    min-width: 231px;
}

.card-set-item{
    flex-basis: var(--card-set-item);
}

.button-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--title-text-color);
    border: none;
    transition-property: color, background-color, box-shadow;
     transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover ,
.button-portfolio:focus  {
    color: var(--white-color);
    background-color: var(--primary-accent-color); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);
}
 .galery-title {
    margin-bottom: 4px;
     font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.galery-paragraf {
   font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
}
.card-set-item:hover .overlay{
    transform: translateY(0);
}
.galery-thumb{
    position:relative;
    overflow: hidden;
}
.overlay-text{
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--white-color);
}

.overlay{
 position:absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--overlov-bg-color);
 padding-left: 20px;
 padding-right: 20px;
 display: flex;
 align-items: center;
 transform: translateY(100%);
  transition: transform 250ms ease;
  user-select: none;

}

.visually-hidden {
    position:absolute;
    white-space:nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border:0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path:insest(50%);
    margin: -1px;
}

.portfolio-container {
    display: flex;
    justify-content:center;
    gap:8px;
    margin-bottom: 50px;
}
.button-portfolio {
    padding: 6px 22px;
    border-radius: 4px;
}
.galery-wrapper {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.card-set-item {
     transition-property: box-shadow;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-item:hover,
.card-set-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06), 
     1px 4px 6px rgba(0, 0, 0, 0.16);
}
/************Modal Window************/
.backdrop{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.1px);
    transition:opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.modal{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn{
    position:absolute;
    top:10px;
    right:10px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    background-color: transparent;
    padding:0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);

}
.backdrop.is-hidden{
    opacity:0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-70%);
    opacity:0;
}

.modal-form-group{
    margin-bottom: 20px;
}
.modal-title{
     font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom:12px;
}
.modal-label{
    display:block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--paragraf-color);
    margin-bottom: 4px;
}
.modal-form-wrapper{
    margin-bottom: 10px;
    position:relative;
}
.modal-field{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    outline: 1px solid transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus{
   outline-color:var(--primary-accent-color);
}

.modal-form-icon{
    position: absolute;
    top:50%;
    left:8px;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus + .modal-form-icon{
    fill: var(--primary-accent-color);
}

.modal-form-message{
    display: block;
    width: 100%;
    height: 120px;
    resize:none;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-message:focus{
    outline-color:var(--primary-accent-color);
}

.modal-agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-bottom: 30px;
    height: 24px;
}
.modal-form-agreement-desc{
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
}
.modal-form-agreement-link{
    color: var(--primary-accent-color);
}

.modal-form-checkbox{
    appearance:none;
    width: 16px;
    height: 15px;
    border: 1px solid var(--text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    outline: 1px solid transparent;
    transition: baground-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checbox{
    opacity: 0;
    visibility: hidden;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked{
    border-color: var(--primary-accent-color);
    background-color: var(--primary-accent-color);
    box-shadow:none;
}
.modal-form-checkbox:checked + .icon-checbox{
    fill:var(--white-color);
    border: 0.2px solid var(--white-color);
}
.modal-form-checkbox:checked + .icon-checbox{
    opacity:unset;
    visibility:visible;
}

.modal-form-btn{
    display:block;
    margin: 0 auto;
}
.modal-form-btn{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;

}

.modal-form-agreement-desc{
    user-select: none;
}
.modal-form-checkb-icon{
    position:relative;
}

.modal-svg{
    position:absolute;
    top:4px;
    left:3px;
}

.footer-wrapper{
    display: flex;
    align-items: baseline;
    margin-right: 93px;
}
.footer-form-text{
    display: flex;
    width: 358px;
    height: 50px;
}
.footer-icon-form{
    transform: translateX(10px);
}

.fotter-form-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}
.footer-text{
    display: block;
    width: 358px;
    height: 50px;
    outline: 1px solid transparent;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color:var(--white-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text:focus {
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.footer-btn-icon{
    fill:var(--white-color)
}
.footer-btn-form{
    display: block;
}
.footer-icon-btn{
    transform: translateX(10px) translateY(5px);
}

.button-footer{
     display: block;
    padding: 8px 28px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--primary-accent-color);
    border: none;
    cursor:pointer;
    border-radius: 4px;
    transition-property: outline, backround-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.button-footer:hover,
.button-footer:focus{
    background-color:var(--overlov-tech-bg-color);
    outline: 1px solid var(--primary-accent-color)
}