//Footer form
.fotter-form__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}
.footer-form__text{
    display: flex;
    width: 358px;
    height: 50px;
}
.footer-icon-form{
    transform: translateX(10px);
}

.footer-text{
    display: block;
    width: 358px;
    height: 50px;
    outline: 1px solid transparent;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color:var(--white-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text:focus {
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.footer-btn-icon{
    fill:var(--white-color)
}
.footer-btn-form{
    display: block;
}
.footer-icon-btn{
    transform: translateX(10px) translateY(5px);
}

.button-footer{
     display: block;
    padding: 8px 28px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--primary-accent-color);
    border: none;
    cursor:pointer;
    border-radius: 4px;
    transition-property: outline, backround-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
    background-color:var(--overlov-tech-bg-color);
    outline: 1px solid var(--primary-accent-color)
}
}